{% load static %}
<nav class="navbar navbar-expand bg-primary navbar-dark mb-5">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="{% static 'favicon.png' %}" alt="logo" width="35" height="35">
            Inventario El Poeta
        </div>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="ProductosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <i class="fa-solid fa-book"></i> Publicaciones
                </a>
                <ul class="dropdown-menu" aria-labelledby="ProductosDropdown">
                    <li><strong class="ms-2">Existencias</strong></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'registroProductos' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'productos' %}">
                            Lista
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"><strong class="ms-2">Autores</strong></li>
                    <li><a class="dropdown-item" href="{% url 'registroAutores' %}">Registro</a></li>
                    <li><a class="dropdown-item" href="{% url 'autores' %}">Lista</a></li>
                    <li><hr class="dropdown-divider"><strong class="ms-2">Editorial</strong></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'registroEditoriales' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'editoriales' %}">
                            Lista
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"><strong class="ms-2">Generos</strong></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'registroGeneros' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'generos' %}">
                            Lista
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="BodegasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <i class="fa-solid fa-warehouse"></i> Bodegas
                </a>
                <ul class="dropdown-menu" aria-labelledby="BodegasDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'registroBodegas' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'bodegas' %}">
                            Historial
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="ComprasDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <i class="fa-solid fa-shop"></i> Compras
                </a>
                <ul class="dropdown-menu" aria-labelledby="ComprasDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'registroCompras' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'compras' %}">
                            Historial
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="PedidosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <i class="fa-solid fa-clipboard-check"></i> Pedidos
                </a>
                <ul class="dropdown-menu" aria-labelledby="PedidosDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'registroPedidos' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'pedidos' %}">
                            Historial
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="MovimientosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <i class="fa-solid fa-truck-ramp-box"></i> Movimientos
                </a>
                <ul class="dropdown-menu" aria-labelledby="MovimientosDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'registroMovimientos' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'movimientos' %}">
                            Historial
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="ProveedoresDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <i class="fa-solid fa-truck"></i> Proveedores
                </a>
                <ul class="dropdown-menu" aria-labelledby="ProveedoresDropdown">
                    <li>
                        <a class="dropdown-item" href="{% url 'registroProveedores' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'proveedores' %}">
                            Historial
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="PerfilesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <i class="fa-solid fa-user"></i> Perfiles
                </a>
                <ul class="dropdown-menu" aria-labelledby="PerfilesDropdown">
                    <li><strong class="ms-2">Usuarios</strong></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'preregistroPerfil' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'perfiles' %}">
                            Historial
                        </a>
                    </li>
                    <li><strong class="ms-2">Clientes</strong></li>
                    <li>
                        <a class="dropdown-item" href="{% url 'registroPersonas' %}">
                            Registro
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'listaPersonas' %}">
                            Lista
                        </a>
                    </li>
                </ul>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar sesion
                </a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">
                    <i class="fa-solid fa-right-to-bracket"></i> Iniciar sesion
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>