{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card">
        <h1 class="card-header text-center">Bodegas</h1>
        <div class="card-body">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Comuna</th>
                        <th>Dirección</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bodega in bodegas %}
                    <tr>
                        <td>{{bodega.nombre_bodega}}</td>
                        <td>{{bodega.comuna}}</td>
                        <td>{{bodega.direccion}}</td>
                        <td>{{bodega.telefono_bodega}}</td>
                        <td>
                             <a href="{% url 'detalleBodegas' bodega.id_bodega %}" class="btn btn-primary">ver</a>
                             <a href="{% url 'editarBodegas' bodega.id_bodega %}" class="btn btn-warning">editar</a>
                            <button class="btn btn-danger">borrar</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock contenido %}