{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Registro Bodegas
        </div>
        <div class="card-body">
            <form action="{% url 'registroBodegas' %}" method="POST"> 
                {% csrf_token %}
                <div class="col mb-3">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre">
                </div>
                <div class="col mb-3">
                    <label for="direccion" class="form-label">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="direccion">
                </div>
                <div class="col mb-3">
                    <label for="comuna" class="form-label">Comuna</label>
                    <input type="text" class="form-control" name="comuna" id="comuna">
                </div>
                <div class="col mb-3">
                    <label for="telefono" class="form-label">Telefono</label>
                    <input type="text" class="form-control" name="telefono" id="telefono">
                </div>
                <div class="col mb-3">
                  <button type="submit">Guardar</button>
                </div>
                </form>
        </div>
    </div>
</div>
{% endblock contenido %}