{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    {{titulo}}
                </div>
                <div class="card-body">
                    <div class="container">
                        <form action="{% url 'registroPerfil' %}" method="GET">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <label for="rut" class="form-label">Rut</label>
                                    <input type="text" class="form-control" id="rut" name="rut">
                                </div>
                                <div class="col-12 mb-3">
                                    <input type="submit" class="btn btn-primary" value="Enviar">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}