{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                {{titulo}}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="nombre" class="col-4 col-md-2 col-form-label text-end">Nombre:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="nombre" value="{{persona.nombres}}">
                </div>
                <label for="apellido" class="col-4 col-md-2 col-form-label text-end">Apellidos:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="apellido" value="{{persona.apellidos}}">
                </div>
                <label for="direccion" class="col-4 col-md-2 col-form-label text-end">Direccion:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="direccion" value="{{persona.direccion}}">
                </div>
                <label for="correo" class="col-4 col-md-2 col-form-label text-end">Correo:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="correo" value="{{persona.correo}}">
                </div>
                <label for="telefono" class="col-4 col-md-2 col-form-label text-end">Telefono:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="telefono" value="{{persona.telefono}}">
                </div>
                <!-- <div class="col-12 col-md-6">
                    {{persona.nombres}}
                </div>
                <div class="col-12 col-md-6">
                    {{persona.apellidos}}
                </div>
                <div class="col-12 col-md-6">
                    {{persona.direccion}}
                </div>
                <div class="col-12 col-md-6">
                    {{persona.correo}}
                </div>
                <div class="col-12 col-md-6">
                    {{persona.telefono}}
                </div> -->
            </div>
        </div>
        <div class="card-footer text-end">
            <button class="btn btn-warning text">
                Editar
            </button>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h3>
                Compras Anteriores
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Fecha de Compra
                            </th>
                            <th>
                                Bodega
                            </th>
                            <th>
                                Forma de Pago
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                23-05-2022
                            </td>
                            <td>
                                Santiago Centro
                            </td>
                            <td>
                                Debito
                            </td>
                            <td>
                                $20500
                            </td>
                            <td>
                                <button class="btn btn-primary">ver</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                28-05-2022
                            </td>
                            <td>
                                Santiago Centro
                            </td>
                            <td>
                                Debito
                            </td>
                            <td>
                                $20500
                            </td>
                            <td>
                                <button class="btn btn-primary">ver</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                13-05-2022
                            </td>
                            <td>
                                Santiago Centro
                            </td>
                            <td>
                                Debito
                            </td>
                            <td>
                                $20500
                            </td>
                            <td>
                                <button class="btn btn-primary">ver</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                01-06-2022
                            </td>
                            <td>
                                Santiago Centro
                            </td>
                            <td>
                                Debito
                            </td>
                            <td>
                                $20500
                            </td>
                            <td>
                                <button class="btn btn-primary">ver</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                03-05-2022
                            </td>
                            <td>
                                Santiago Centro
                            </td>
                            <td>
                                Debito
                            </td>
                            <td>
                                $20500
                            </td>
                            <td>
                                <button class="btn btn-primary">ver</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}