{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                {{titulo}}
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="nombre" class="col-4 col-md-2 col-form-label text-end">Nombre:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="nombre" value="{{persona.nombres}}">
                </div>
                <label for="apellido" class="col-4 col-md-2 col-form-label text-end">Apellidos:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="apellido" value="{{persona.apellidos}}">
                </div>
                <label for="rut" class="col-4 col-md-2 col-form-label text-end">Rut:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="rut" value="{{persona.rut}}">
                </div>
                <label for="direccion" class="col-4 col-md-2 col-form-label text-end">Direccion:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="direccion" value="{{persona.direccion}}">
                </div>
                <label for="correo" class="col-4 col-md-2 col-form-label text-end">Correo:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="correo" value="{{persona.correo}}">
                </div>
                <label for="estado" class="col-4 col-md-2 col-form-label text-end">Estado:</label>
                <div class="col-8 col-md-4">
                    {% if persona.is_active == False %}
                        <span class="badge bg-danger">Inactivo</span>
                    {% else %}
                        <span class="badge bg-success">Activo</span>
                    {% endif %}
                </div>
                <label for="telefono" class="col-4 col-md-2 col-form-label text-end">Telefono:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="telefono" value="{{persona.telefono}}">
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="{% url 'editarPersonas' persona.id_persona%}">
                <button class="btn btn-warning text">
                    Editar
                </button>
            </a>
        </div>
    </div>
    <div class="card">
        <div class="card-header text-center">
            <h3>
                Compras Anteriores
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                Fecha de Compra
                            </th>
                            <th>
                                Bodega
                            </th>
                            <th>
                                Forma de Pago
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Acción
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for compra in compras %}
                        <tr>
                            <td>
                                {{compra.fecha_compra}}
                            </td>
                            <td>
                                {{compra.id_bodega}}
                            </td>
                            <td>
                                {{compra.metodo_pago}}
                            </td>
                            <td>
                                {{compra.total}}
                            </td>
                            <td>
                                <button class="btn btn-primary">ver</button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

{% endblock %}