{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card">
        <h1 class="card-header text-center">Autores</h1>
        <div class="card-body">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Correo</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for autor in autores %}
                    <tr>
                        <td>{{autor.pseudonimo_autor}}</td>
                        <td>{{autor.nacionalidad_autor}}</td>
                        <td>{{autor.correo_autor}}</td>
                        <td>
                            <a href="{% url 'detalleAutor' autor.id_autor %}" >
                                <button class="btn btn-primary">ver</button>
                            </a>
                            <a href="{% url 'editarAutor' autor.id_autor%}">
                                <button class="btn btn-warning">editar</button>
                            </a>
                            {% comment %} <button class="btn btn-danger">borrar</button> {% endcomment %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}