{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
        <div class="card">
            <div class="card-header">
                Registro Autor
            </div>
            <div class="card-body">
                <form action="{% url 'registroAutores' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" name="nombre" id="nombre">
                    </div>
                    <div class="mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" name="apellido" id="apellido">
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo</label>
                        <input type="text" class="form-control" name="correo" id="correo">
                    </div>
                    <div class="mb-3">
                        <label for="nacionalidad" class="form-label">Nacionalidad</label>
                        <input type="text" class="form-control" name="nacionalidad" id="nacionalidad">
                    </div>
                    <div class="mb-3">
                        <label for="pseudonimo" class="form-label">Pseudonimo</label>
                        <input type="text" class="form-control" name="pseudonimo" id="pseudonimo">
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
</div>
{% endblock contenido %}