{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                Editar Compra
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="nombre" class="col-4 col-md-2 col-form-label text-end">Compra:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="compra" value="{{compra.id_compra}}">
                </div>
                <label for="apellido" class="col-4 col-md-2 col-form-label text-end">Bodega:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="bodega" value="{{compra.id_bodega}}">
                </div>
                <label for="rut" class="col-4 col-md-2 col-form-label text-end">Persona:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="persona" value="{{compra.id_persona}}">
                </div>
                <label for="direccion" class="col-4 col-md-2 col-form-label text-end">Total:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="total" value="{{compra.total}}">
                </div>
                <label for="correo" class="col-4 col-md-2 col-form-label text-end">Metodo Pago:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="metodopago" value="{{compra.metodo_pago}}">
                </div>
                <label for="telefono" class="col-4 col-md-2 col-form-label text-end">Fecha compra:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="fechacompra" value="{{compra.fecha_compra}}">
                </div>
               
    </div>
</div>
<div class="card-footer text-end">
    <a href="{% url 'detalleCompras' compra.id_compra %}">
        <button class="btn btn-warning text">
            Editar
        </button>
    </a>
</div>
</div>
<div class="card mb-4">
<div class="card-header text-center">
    <h3>
        Pedidos
    </h3>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for publicacion in compra.publicacion_compra_set.all %}
                        <tr>
                            <td>{{publicacion.id_publicacion.nombre}}</td>
                            <td>{{publicacion.cantidad}}</td>
                            <td>{{publicacion.precio}}</td>
                            <td>
                                {{publicacion.calculo_total}}
                            </td>
                            <td>
                             <a href="{% url 'detallePublicacion' publicacion.id_publicacion.id_publicacion %}">
                                    <button class="btn btn-primary">ver</button>
                                </a> 
                            </td>
                        </tr>
                        {% endfor %}
                
            </tbody>
        </table>
    </div>
</div>
</div>
</div>

{% endblock %}