{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                Editar Compra
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <label for="nombre" class="col-4 col-md-2 col-form-label text-end">Compra:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="compra" value="{{compra.id_compra}}">
                </div>
                <label for="apellido" class="col-4 col-md-2 col-form-label text-end">Bodega:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="bodega" value="{{compra.id_bodega}}">
                </div>
                <label for="rut" class="col-4 col-md-2 col-form-label text-end">Persona:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="persona" value="{{compra.id_persona}}">
                </div>
                <label for="direccion" class="col-4 col-md-2 col-form-label text-end">Total:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="total" value="{{compra.total}}">
                </div>
                <label for="correo" class="col-4 col-md-2 col-form-label text-end">Metodo Pago:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="metodopago" value="{{compra.metodo_pago}}">
                </div>
                <label for="fecha_compra" class="col-4 col-md-2 col-form-label text-end">Fecha compra:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="fecha_compra" {% if compra.fecha_compra %} value="{{compra.fecha_compra}}" {% else %} value="No Realizado" {% endif %} >
                </div>
                <label for="estado" class="col-4 col-md-2 col-form-label text-end">Estado:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly class="form-control-plaintext" id="fecha_compra" {% if compra.fecha_compra %} value="{{compra.estado}}" {% else %} value="No Realizado" {% endif %} >
                </div>
               
    </div>
</div>
{% if compra.estado == 'Pendiente' %}
        <div class="card-footer text-end">
            <button type="button" class="btn btn-warning text" data-bs-toggle="modal" data-bs-target="#CambiarEstadoModal">
                Cambiar a Finalizado
            </button>
             <!-- Modal -->
             <div class="modal fade" id="CambiarEstadoModal" tabindex="-1" aria-labelledby="CambiarEstadoLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="CambiarEstadoLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Seguro que desea cambiar el estado de {{compra.estado}} a Finalizado
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a href="{% url 'editarEstadoCompra' compra.id_compra %}">
                                <button type="button" class="btn btn-warning">
                                    Cambiar Estado
                                </button>
                            </a>
                      </div>
                    </div>
                </div>
            </div>
            <!-- Fin Modal -->
        </div>
        {% endif %}
    </div>
    {% if compra.estado == "Pendiente" %}
    <div class="card mb-4">
        <div class="card-header text-center">
            publicaciones
        </div>
        <div class="card-body">
            <form action="{% url 'editarCompras' compra.id_compra%}" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-12 col-md-8 mb-3">
                        <label for="publicacion" class="form-label">Publicacion:</label>
                        <select name="publicacion" id="publicacion" class="form-select" aria-label="Select publicacion">
                            {% for publicacion in publicaciones  %}
                            <option value="{{publicacion.id_publicacion.id_publicacion}}" >{{publicacion.id_publicacion}} (Stock: {{publicacion.cantidad}}, Precio: {{publicacion.id_publicacion.precio}})</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <label for="cantidad" class="form-label">Cantidad:</label>
                        <input type="text" class="form-control"  name="cantidad" id="cantidad">
                    </div>
                    <div class="col-12 col-md-12 mb-3 text-end">
                        <input type="submit" class="btn btn-primary btn-block" value="Agregar publicacion">
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                Publicaciones Solicitadas
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for publicacion in compra.publicacion_compra_set.all %}
                        <tr>
                            <td>{{publicacion.id_publicacion}}</td>
                            <td>{{publicacion.cantidad}}</td>
                            <td>
                                {{publicacion.precio}}
                            </td>
                            <td>{{publicacion.calculo_total}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% if toast %}
        <div class="toast-container text-bg-primary position-fixed bottom-0 start-0 p-3">
            {% if toast == "Error" %}
                <div id="liveToast" class="toast bg-danger text-light" role="alert" aria-live="assertive" aria-atomic="true">
            {% else %}
                <div id="liveToast" class="toast bg-success text-light" role="alert" aria-live="assertive" aria-atomic="true">
            {% endif %}
                <div class="toast-header">
                    <i class="fa-solid fa-circle-exclamation m-1"></i>
                    <strong class="me-auto">{{toast}}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    {{mensaje}}
                </div>
            </div>
        </div>
        <script> 
            const toastLiveExample = document.getElementById('liveToast')
            const toast = new bootstrap.Toast(toastLiveExample)
            toast.show()
        </script>
        {% endif %}

                

{% endblock %}