{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                Detalle Proveedor
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <h3>Proveedor</h3>
                <hr>
                <label for="nombre" class="col-4 col-md-2 col-form-label text-end">Nombre:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly="" class="form-control-plaintext" id="nombre" value="{{proveedor.nombre_proveedor}}">
                </div>
                <label for="apellido" class="col-4 col-md-2 col-form-label text-end">Dirección:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly="" class="form-control-plaintext" id="direccion" value="{{proveedor.direccion_proveedor}}">
                </div>
                <label for="correo" class="col-4 col-md-2 col-form-label text-end">Correo:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly="" class="form-control-plaintext" id="correo" value="{{proveedor.correo_proveedor}}">
                </div>
                <label for="nacionalidad" class="col-4 col-md-2 col-form-label text-end">Comuna:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly="" class="form-control-plaintext" id="comuna" value="{{proveedor.comuna_proveedor}}">
                </div>
                <label for="pseudonimo" class="col-4 col-md-2 col-form-label text-end">Teléfono:</label>
                <div class="col-8 col-md-4">
                    <input type="text" readonly="" class="form-control-plaintext" id="telefono" value="{{proveedor.telefono_proveedor}}">
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="{% url 'editarProveedor' proveedor.id_proveedor %}">
                <button class="btn btn-warning text">
                    Editar
                </button>
            </a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                Pedidos
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Bodega</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pedido in proveedor.pedido_set.all %}
                        <tr>
                            <td>{{pedido.id_pedido}}</td>
                            <td>{{pedido.id_bodega}}</td>
                            <td>
                                {{pedido.fecha_pedido}}
                            </td>
                            <td>{{pedido.total_pedido}}</td>
                            <td>
                                
                                <a href="">
                                    <button class="btn btn-primary">ver</button>
                                </a>
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
   
{% endblock contenido %}