{% extends 'layout.html' %}
{% block contenido %}
<div class= "container p-3">
<h4>Nuevo Proveedor</h4>
<br>
<form action="{% url 'registroProveedores' %}" method = "POST">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" id="nombreP" name="nombreP">
      </div>
    <div class="mb-3">
      <label class="form-label">Dirección</label>
      <input type="text" class="form-control" id="direccionP" name="direccionP">
    </div>
    <div class="mb-3">
      <label class="form-label">Comuna</label>
      <input type="text" class="form-control" id="comunaP" name="comunaP">
    </div>
    <div class="mb-3">
        <label class="form-label">Correo</label>
        <input type="email" class="form-control" id="correoP" name="correoP">
    </div>
    <div class="mb-3">
        <label class="form-label">Teléfono</label>
        <input type="text" class="form-control" id="telefonoP" name="telefonoP">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Registro</button>
  </form>
</div>

{% endblock contenido %}