{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card mb-3">
        <div class="card-header">
            {{titulo}}
        </div>
        <div class="card-body">
            <div class="row">
                <label for="nombre" class="col-4 col-md-2 col-form-label text-end">Nombre:</label>
                <div class="col-8 col-md-4">
                    <input type="text" class="form-control-plaintext" readonly name="nombre" id="nombre" value="{{editorial.nombre_editorial}}">
                </div>
                <label for="correo" class="col-4 col-md-2 col-form-label text-end">Correo:</label>
                <div class="col-8 col-md-4">
                    <input type="text" class="form-control-plaintext" readonly name="correo" id="correo" value="{{editorial.correo_editorial}}">
                </div>
                <label for="telefono" class="col-4 col-md-2 col-form-label text-end">Telefono:</label>
                <div class="col-8 col-md-4">
                    <input type="text" class="form-control-plaintext" readonly name="telefono" id="telefono" value="{{editorial.telefono_editorial}}">
                </div>
                <label for="direccion" class="col-4 col-md-2 col-form-label text-end">Direccion:</label>
                <div class="col-8 col-md-4">
                    <input type="text" class="form-control-plaintext" readonly name="direccion" id="direccion" value="{{editorial.direccion_editorial}}">
                </div>
                <label for="estado" class="col-4 col-md-2 col-form-label text-end">Estado:</label>
                <div class="col-8 col-md-4">
                    {% if editorial.is_active == False %}
                        <span class="badge bg-danger">Inactivo</span>
                    {% else %}
                        <span class="badge bg-success">Activo</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="{% url 'editarEditorial' editorial.id_editorial%}">
                <button class="btn btn-warning text">
                    Editar
                </button>
            </a>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header text-center">
            <h3>
                Publicaciones
            </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Tipo</th>
                            <th>Año de publicación</th>
                            <th>Edicion</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for publicacion in editorial.publicacion_set.all %}
                        <tr>
                            <td>{{publicacion.nombre}}</td>
                            <td>{{publicacion.tipo_producto}}</td>
                            <td>
                                {{publicacion.fecha_publicacion}}
                            </td>
                            <td>{{publicacion.edicion}}</td>
                            <td>
                                <a href="{% url 'detallePublicacion' publicacion.id_publicacion %}">
                                    <button class="btn btn-primary">ver</button>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}