{% extends 'layout.html' %}

{% block contenido %}
<div class="container">
    <div class="card">
        <h1 class="card-header text-center">Productos</h1>
        <div class="card-body">
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Autores</th>
                        <th>Edicion</th>
                        <th>Estado</th>
                        <th>Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                    <tr>
                        <td>{{producto.nombre}}</td>
                        <td>{{producto.tipo_producto}}</td>
                        <td>
                        {% for i in producto.autor_publicacion_set.all %}
                            {{i.id_autor.pseudonimo_autor}}
                        {% endfor %}
                        <br>
                        {% for i in producto.autor_publicacion_set.all %}
                            {{i.id_autor.pseudonimo_autor}}
                        {% endfor %}
                            {% comment %} {{producto.fecha_publicacion}} {% endcomment %}
                        </td>
                        <td>{{producto.edicion}}</td>
                        <td>
                            {% if producto.is_active == False %}
                                <span class="badge bg-danger">Inactivo</span>
                            {% else %}
                                <span class="badge bg-success">Activo</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{% url 'detallePublicacion' producto.id_publicacion %}">
                                <button class="btn btn-primary">ver</button>
                            </a>
                            <a href="{% url 'editarPublicacion' producto.id_publicacion %}">
                                <button class="btn btn-warning">editar</button>
                            </a>
                            <button type="button" {% if producto.is_active == 0 %}class="btn btn-success"{% else %}class="btn btn-danger" {% endif %} data-bs-toggle="modal" data-bs-target="#exampleModal{{producto.id_publicacion}}">
                                {% if producto.is_active == 0 %}
                                Activar
                                {% else %}
                                Desactivar
                                {% endif %}
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal{{producto.id_publicacion}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            seguro que desea {% if producto.is_active == 0 %}
                                            Activar
                                            {% else %}
                                            Desactivar
                                            {% endif %} a {{producto}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <a href="{% url 'cambiarEstadoPublicacion' producto.id_publicacion%}">
                                                <button type="button" {% if producto.is_active == 0 %}class="btn btn-success"{% else %}class="btn btn-danger" {% endif %}>
                                                    {% if producto.is_active == 0 %}
                                                    Activar
                                                    {% else %}
                                                    Desactivar
                                                    {% endif %}
                                                </button>
                                            </a>
                                      </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Fin Modal -->  
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock contenido %}